ellipsis()
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

line-clamp(number)
  overflow hidden
  text-overflow ellipsis
  display -webkit-box
  display box
  -webkit-box-orient vertical
  -webkit-line-clamp number
  